html,
body {
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(181.29deg, #050505 25.32%, #770019 96.27%);
}

.with-layout{
    margin: 0 40px;
}

.container {
    background-color: white;
    border-radius: 40px;
    padding: 50px 54px 54px 54px;
}

.heading {
    padding: 60px 0px;
    text-align: center;
}

header img {
    width: 200px;
}

button {
    cursor: pointer;
}

.button-small {
    min-width: 60px;
    text-transform: uppercase;
    border: none;
    border-radius: 40px;
    font-size: 10px;
    line-height: 120%;
    padding: 10px 0px;
}

.button-layout {
    display: flex;
    gap:10px;
}

.button-layout .button-small {
    flex-grow:1;
}

.button-pri {
    box-shadow: 0 3px 5px rgba(255, 0, 54, 0.2);
    background: #ff0036;
    color: white;
}

.button-sec {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    background: white;
    color: #050505;
}

.buttom-medium:hover,
.button-small:hover {
    opacity: 0.8;
}

.pass-log {
    display: flex;
    flex-flow:column nowrap;
    row-gap: 40px;
}

.input-list {
    display: flex;
    flex-flow:column nowrap;
    row-gap: 10px;
}

.log-block {
    display: flex;
    flex-flow: column wrap;
    row-gap: 20px;
}

.log-input {
    background: linear-gradient(180deg, rgba(5, 5, 5, 0.08) 0%, rgba(5, 5, 5, 0.04) 100%) ;
    border: 0;
    border-bottom: 1px solid #ff0036;
    border-radius: 5px 5px 0px 0px;
    font-size:12px;
    line-height: 120%;
    padding:16px 10px;
}

.log-input::placeholder {
    opacity: 1;
    color: #050505;
}

.log-input:focus {
    outline:0;
    background: linear-gradient(180deg, rgba(5, 5, 5, 0.08) 0%, rgba(5, 5, 5, 0.04) 100%) ;
}

.log-block .link {
    align-self: flex-end;
}

.link {
    font-size:10px;
    line-height: 120%;
    color: red;
}

.link:hover {
    opacity: 0.8;
}

.button-medium {
    min-width: 60px;
    text-transform: uppercase;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    line-height: 120%;
    padding: 14px 0px;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.or-lab {
    align-self: center;
    font-size: 16px;
    line-height: 120%;
    color: #050505;
}

.soc-login {
    display: flex;
    justify-content: space-between;
    max-width: 204px;
    width: 100%;
    align-self: center;
}

.social {
    width:45px;
    height: 45px;
    border: none;
    border-radius:45px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    background-color:white;
}

.facebook {
    background-image:url("facebook-button.png");
    background-repeat: no-repeat;
    background-position: center;
}

.google {
    background-image:url("google-button.png");
    background-repeat: no-repeat;
    background-position: center;
}

.twitter {
    background-image:url("twitter-button.png");
    background-repeat: no-repeat;
    background-position: center;
}

.linkedin {
    background-image:url("linkedin-button.png");
    background-repeat: no-repeat;
    background-position: center;
}

.footsy {
    font-size: 12px;
    line-height: 120%;
    color: white;
}

.footer-general {
    display: flex;
    align-self: center;
    gap:10px;
    justify-content: space-between;
    padding: 20px 26px;
    flex-wrap: wrap;
}

.card-header {
    display: none;
    margin:0;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 40px;
}

@media only screen and (min-width: 760px) {
    .with-layout {
        margin: 0 auto;
        max-width: 960px;
    }

    .heading {
        text-align: left;
    }

   .footer-general {
        justify-content: flex-end;
    }

    .card-content {
        flex-direction: row;
        column-gap: 20px;
    }

    .soc-login {
        flex-direction: column;
        gap:15px;
        width: auto;
    }

    .container {
        padding: 70px 92px 92px 108px;
    }

    .card-header {
        display: initial;
        display: block;
    }
}